:root {
    --white: #fff;
    --dark-blue: #4682A9;
    --light-blue: #749BC2;
}

body {
    background-color: var(--white);
    font-family: Arial, sans-serif;
}

#Add-Relationship-Manager-Container {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 20px;
    width: 40rem;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#Add-Relationship-Manager-Form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: left;
}

#Add-Relationship-Manager-Form label {
    font-weight: bold;
}

#Add-Relationship-Manager-Form input[type="text"],
#Add-Relationship-Manager-Form input[type="number"],
#Add-Relationship-Manager-Form input[type="email"],
#Add-Relationship-Manager-Form input[type="tel"],
#Add-Relationship-Manager-Form input[type="password"],
#Add-Relationship-Manager-Form select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.center-button {
    text-align: center;
}

#add-button {
    background-color: var(--light-blue);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

#add-button:hover {
    background-color: var(--dark-blue);
}
