:root {
    --white: #fff;
    --dark-blue: #4682A9;
    --light-blue: #749BC2;
}

body {
    background-color: var(--white);
    font-family: Arial, sans-serif;
}

#add-service-container {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 20px;
    width: 40rem;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
}


h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#add-service-form label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

#add-service-form input[type="text"],
#add-service-form input[type="number"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

#add-button {
    background-color: var(--light-blue);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

#add-button:hover {
    background-color: var(--dark-blue);
}
