<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>40 - Page Not Found</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <style>
      body {
        background-color: #f8f9fa;
      }

      .container {
        margin-top: 50px;
      }

      h1 {
        font-size: 72px;
        color: #343a40;
      }

      p {
        font-size: 18px;
        color: #6c757d;
      }

      .btn-container {
        margin-top: 20px;
      }

      @media (max-width: 426px) {
        .btn-success {
          margin-top: 10px;
        }
      }
    </style>
  </head>
  <body>
    <div class="container text-center">
      <h1>404</h1>
      <p>Page not found</p>
      <div class="btn-container">
        <a href="/admin/login" class="btn btn-primary">Admin Login</a>
        <a href="/banker/login" class="btn btn-secondary">Banker Login</a>
        <a href="/rm/login" class="btn btn-success"
          >Relationship Manager Login</a
        >
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
