<!DOCTYPE html>
<html>
  <head>
    <title>Add Service</title>
    <link rel="stylesheet" href="/AddService/addservice.css" />
    <link rel="stylesheet" href="/adminMain.css" />
  </head>
  <body>
    <div class="wrapper">
      <!-- Include the sidebar -->
      <%- include('../Utils/sidebar.ejs') %>
      <div id="add-service-container">
        <h1>Add Services</h1>
        <form id="add-service-form" method="post" action="/admin/addservice">
          <label for="service">Service:</label><br />
          <input type="text" id="service" name="serviceName" required /><br />

          <label for="payment">Payment:</label><br />
          <input type="number" id="payment" name="standardFees" required /><br />

          <button type="submit" id="add-button">Add Service</button>
        </form>
      </div>
    </div>

    <script src="/AddServices/addservice.js"></script>
  </body>
</html>
