<!-- sidebar.ejs -->

<div class="sidebar">
  <h2>Admin Portal</h2>
  <ul>
    <li>
      <a href="/admin"><i class="fas fa-home"></i>Dashboard</a>
    </li>
    <li>
      <a href="/admin/addrm"
        ><i class="fas fa-user"></i>Add Relationship Manager</a
      >
    </li>
    <li>
      <a href="/admin/updateRm"
        ><i class="fas fa-address-card"></i>Update Relationship Manager</a
      >
    </li>
    <li>
      <a href="/admin/appointRm"
        ><i class="fas fa-user-tie"></i>Appoint Relationship Manager to
        Banker</a
      >
    </li>
    <li>
      <a href="/admin/approveAdminReq"
        ><i class="fas fa-check"></i>Approve Admin Request</a
      >
    </li>
    <li>
      <a href="/admin/addServices"><i class="fas fa-blog"></i>Add Services</a>
    </li>
    <li>
      <a href="/admin/updateService"
        ><i class="fas fa-pen-square"></i>Update Service</a
      >
    </li>
    <li>
      <a href="/admin/appointedBankers"
        ><i class="fas fa-pen-square"></i>RM to Banker List</a
      >
    </li>
    <li>
      <a href="/admin/downloadBankerDetails"
        ><i class="fas fa-lock"></i>Download Banker Details</a
      >
    </li>
    <li>
      <a href="/admin/changePassword"
        ><i class="fas fa-lock"></i>Change Password</a
      >
    </li>
  </ul>
</div>
